div.footer{
    background-color: black;
    position: absolute;
    top: 8000px;
    padding-right: 50px;
    box-sizing: border-box;
    div.footers{
        display: flex;
        flex-flow: row  nowrap;
        justify-content: start;
        gap: 50px;
        p{
            color: gray;
            font-family: iranSans;
            font-size: 13px;
        }
    }
}